.personalPicDiv {
    margin: 0 auto;
    text-align: center;
}
.personalPic {
    border: 1px solid black;
    width: 100%;
    height: 200px;
}
.addPic {
    margin-top: 5px;
}
.addPictureSubmit {
    border: 1px solid black;
}